<div class="content home">
  <h1>Ongaku.io</h1>
  <p>A website for listening to music with your friends</p>

  <!-- <h2>Welcome!</h2>
  <a href="static/room.html" class="button">Sign In / Register</a> -->

  <h2>What is this?</h2>
  <p>
    Ongaku is a website for listening to music with your friends. Originally
    inspired by a long-lost site known as Listening Room. Here you can create a
    room, invite some friends, and then listen to music together.
    Anyone in a room can upload songs from their computer, and everyone
    hears the same thing at the same time.
  </p>
</div>
