<div class="container">
  <!-- <div class="sidebar sidebar-right">
    <h3>Links</h3>
    <ul id="navLinks">
      <li><a href="#">Home</a></li>
      <li><a href="#">Changelog</a></li>
    </ul>

    <h3>Contact</h3>
    <ul>
      <li><a href="#">Email</a></li>
    </ul>

  </div> -->
  <!-- /nav sidebar -->

  <div class="main">
    <div class="sidebar sidebar-left">
      <h2 id="homelink"><a href="/">Ongaku.io</a></h2>

    </div>

    <div class="content">
      <h1>Ongaku.io</h1>
      <div id="status">A website for listening to music with your friends</div>

      <h2>Welcome!</h2>
      <a href="static/room.html" class="button">Sign In / Register</a>

      <h2>What is this?</h2>
      <p>
        Ongaku is a website for listening to music with your friends.
        You create a room, invite some friends, and then listen to music
        together.
        Anyone in a room can upload songs from their computer, and everyone
        hears the same thing at the same time.
      </p>
    </div>
  </div>
</div>
